@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
$sidebarWidth: 250px;

html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #252525;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

//sidebar-menu
.sidebar {

    position: fixed;
    height: 100vh;
    min-height: 100%;
    top: 0;
    left: 0;
    width: $sidebarWidth;
    background: rgba($color: #38383871, $alpha: 1.0);
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    overflow: hidden;

    .sidebar-nav {
        list-style: none;
        margin-top: 5rem;
        height: 100%;

        li {
            margin-top: 1rem;
            padding: 0.3rem;
            width: 100%;
            font-size: 3ch;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: antiquewhite;
            display: flex;
            align-items: center;
            position: relative;

        }

        li:hover {

            background: #646464;
            cursor: pointer;
        }

        .active {
            background: #898989;
        }
    }
}

//main content
.wrapper {

    margin-left: $sidebarWidth;
    position: relative;
    display: flex;
    width: auto;
    height: 100%;

    .categories {
        font-family: 'Netflix Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .category-row {
        color: rgb(237, 237, 237);
        margin: 2vw 1vw;

        .card {
            height: 300px;
            width: 200px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
            margin-right: 10;
            justify-content: center;
            display: inline-flex;
            background: #363636;

            .card-poster {
                max-width: 100%;
                max-height: 100%;
            }

            .card-title {
                display: none;
                position: absolute;
            }
        }

        .card:hover {
            transition: 200ms;
            transform: translateY(-3px);
            cursor: pointer;

            .card-title {
                text-align: center;
                font-size: large;
                top: 84%;
                height: 50px;
                width: 100%;
                background: rgba($color: #2b2b2b, $alpha: 0.7);
                display: inline;
                transition: 200ms;
            }

        }

    }

    .category-row-header {
        margin: 0;
        line-height: 1.4;
    }
}

//modal
#previewModal {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    padding-top: 60px;
    background-color: rgba($color: #2d2d2d, $alpha: 0.7);
    width: 100%;
    height: 100%;
    font: 14px/22px "Lato", Arial, sans-serif;

    //padding: 40px 0;
    .previewModal-overlay {
        margin: 0 auto;
        position: relative;
        background: rgba($color: #e4e4e4, $alpha: 1.0);
        width: 1000px;
        height: 640px;
    }

    .previewModal-poster {
        position: absolute;
        height: 250px;
        width: 150px;
        top: 160px;
        left: 40px;
        z-index: 2;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .previewModal-header {
        height: 342px;
        margin: 0;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .header-details {
            padding: 190px 0 0 280px;
        }

        .title {
            color: white;
            font-size: 44px;
            margin-bottom: 13px;
            position: relative;
        }

        .rating {
            position: relative;
            top: 3px;
            margin-left: 12px;
            background: #C4AF3D;
            border-radius: 5px;
            color: #544C21;
            font-size: 14px;
            padding: 0px 4px;

        }

        .director {
            position: relative;
            top: 3px;
        }
    }

    .previewModal-header::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        background: rgb(95, 95, 95);
        z-index: -1;

        transform-origin: 0 0;

        //chrome antialias fix
        backface-visibility: hidden;

    }

    .previewModal-content {
        bottom: 0px;
        height: 200px;
        font-size: 16px;
        line-height: 26px;
        color: #B1B0AC;
        .column1 {
            padding-left: 10px;
            padding-top: 120px;
            width: 300px;
            float: left;
            text-align: center;
            .tag {
                background: white;
                border-radius: 10px;
                padding: 3px 8px;
                font-size: 14px;
                margin-right: 4px;
                line-height: 35px;
                cursor: pointer;
            }
        }
        .column2 {
            padding-left: 41px;
            padding-top: 30px;
            margin-left: 20px;
            width: 480px;
            float: left;
        }
          
        
    }
}